body {
  background-color: #222 !important;
  background-image: url('../img/classy_fabric.png');
  text-shadow: -1px -1px 0px #252525;
 }

header {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

#content {
  background-color: white;
  width: 100%;
  min-width: 650px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:    0px 0px 15px 10px rgba(0, 0, 0, 0.25);
  box-shadow:         0px 0px 15px 10px rgba(0, 0, 0, 0.25);
  text-shadow: none;
}

.container {
  width: 650px;
  margin: 0 auto;
  padding: 40px 10px 40px 10px;
}

#messages {
  display: table;
  width: 100%;
  margin: 25px 0;
}
.meal {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.container.info {
  line-height: 1.55em;
  color: #888 !important;
  font-size: 1.0em;
  text-align: center;
}
.container.info h1 {
  font-size: 1.1em;
}
.container.info hr {
  border-color: #555;
  margin: 30px auto;
}
.container.info a, .container.info a:visited {
  color: #666;
}


.centered {
  text-align: center;
}

.alert {
  padding: 7px 12px !important;
}
.email-warning {
  margin-bottom: 10px !important;
}


#buttons {
    margin: 15px 0;
}

section#query {
    text-align: center;

    margin: 0 auto;
}

.answer.btn {
  margin: 0 7px;
}
.answer.btn:first-child {
  margin-left: 0;
}
.answer.btn:last-child {
  margin-right: 0;
}

.btn {
    min-width: 110px;
}


.progress {
    padding: 0;
    width: 605px;
    margin: 0 auto;
    margin-top: 20px;
}
p.answercount {
  color: #bbb;
  margin-top: -10px;
  margin-bottom: -7px;
}

#messages {
    min-height: 80px;
}

#thanks {
  text-align: center;
}

