<section id="form" ng-controller="FormController">

    <form role="form" ng-show="inputform">
      <p>Jos haluat osallistua arvontaan, voit täyttää alla olevan lomakkeen. Muussa tapauksesssa voit ohittaa vaiheen ja tehdä kyselyn <a href="#" ng-click="newLottery()">uudelleen</a>.</p>
      <div class="form-group">
        <label for="exampleInputEmail1">Nimi</label>
        <div class="alert alert-warning email-warning" ng-hide="validName">Sinun pitää antaa nimi</div>
        <input type="name" class="form-control" id="name" ng-model="name" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Sähköpostiosoite</label>
        <div class="alert alert-warning email-warning" ng-hide="validEmail">Sähköpostiosoite ei ole kelvollinen</div>
        <input type="email" class="form-control" id="email" ng-model="email" placeholder="">
      </div>
      <button type="submit" class="btn btn-default" ng-click="send(name, email)">Lähetä</button>
    </form>

    <div ng-hide="inputform" id="thanks">
        <p>Kiitos! Osallistuit arvontaan.</p>
        <button type="button"  class="btn btn-default" ng-click="newLottery()">Tee kysely uudelleen</button>
    </div>

</section>
