<section id="query">

    <div id="info">
        <p>Kehitämme oppivaa ruokalistasovellusta ja tarvitsemme mielipiteesi 20 eri ruokalajista. Vastaaminen kestää alle 5 minuuttia ja sen jälkeen voit osallistua lounaslippupaketin arvontaan.</p>
    </div>

    <div id="messages">
        <h2 ng-bind="meal.name" class="meal"></h2>
        <h3 ng-show="thanksmessage">Kiitos vastaamisesta!</h3>
    </div>

    <div id="buttons">
        <button class="answer btn btn-lg btn-danger" querybtn ng-click="answer(meal, '0')">Yök!</a>
        <button class="answer btn btn-lg btn-danger no-thanks" querybtn ng-click="answer(meal, '1')">Ei kiitos</a>
        <button class="answer btn btn-lg btn-default" querybtn ng-click="answer(meal, '2')">Ohi</a>
        <button class="answer btn btn-lg btn-success ok" querybtn ng-click="answer(meal, '3')">Hyvää</a>
        <button class="answer btn btn-lg btn-success" querybtn ng-click="answer(meal, '4')">Nam!</a>
    </div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
        <span class="sr-only">{{ progress }}% Complete</span>
      </div>
    </div>
    <p class="answercount">{{ answers }}  / {{ totalamount }}</p>

</section>
